extends ../_template

block content
  H1 Main page
  a(href="/about") Go to about page
  br
  a(href="/contact") Go to contact page

  .image-block
  h3 Hello from image
  img.className#IdName(src="./img/my.png" alt="Image Title")